.presentation
{
color: purple;
justify-content: 120;
text-align: center;
font-family: "Lucida Console", Courier, monospace;
}
.fatou
{
color: white;
justify-content: 100;
}
ul{
	list-style-type: none;
}

.header
{
	color: green;
	padding: 50;
	text-align: center;
	margin: 50;

}


h2{
color: RosyBrown;
font-family: courier;
}

h1{
font-weight: bold;
}

.circle{
	border-radius: 50%;
}

.shadowed{
	box-shadow: 5px 5px 3px black;

}
img {
	width: 50px;
	height: 100px;
	text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20 px
	border-radius: 4px;

}

.btn-blue:hover {
 background-color: black;
 color: white;
}

.inline {
	list-style: none;
	padding-left: 0px;
}
html{
	height: 100%;
}
.container{
	min-width: 100vw;
	min-height: 100vh;

}
#zone1{
background-image: url("images/paysikaAboutUs.png");
background-repeat: no-repeat;
min-width: 100vw;
min-height: 100vh;
text-align: center;

}
#zone2{
background-image: url("images/paysikaHhome.png");
background-repeat: no-repeat;
min-width: 100vw;
min-height: 100vh;
text-align: center;
}
#zone3{
background-image: url("images/paysikaBg.jpg");
background-repeat: no-repeat;
min-width: 100vw;
min-height: 100vh;
text-align: center;
}
#zone4{
background-image: url("images/paysikaBg.jpg");
background-repeat: no-repeat;
min-width: 100vw;
min-height: 100vh;
text-align: center;
}

#zone5{
background-image: url("images/flo.jpg");
background-repeat: no-repeat;
min-width: 1vw;
min-height: 1vh;
text-align: center;
}

.content {
padding-top: 100px;
}

body{
margin: 0;
padding:0;
}

header{
width: 100%;
position: relative;
z-index: 2;


}

nav{
position: fixed;
width: 100%;

}
nav ul{
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: white;
}

nav ul li{
	padding: 15px;
	display: inline-block;

}
a{
text-decoration: none;
}
span.b {
  display: inline-block;
  width: 500px;
  height: 500px;
  padding: 1px;
  border: 1px solid none;
  background-color: #58B4A6;
	margin-left: 30em;
	border-radius: 25px 50px;
}

.socialMedia {
  padding: 20px;
  font-size: 30px;
  width: auto;
	height: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20%;
}
.socialMedia:hover {
    opacity: 0.7;
}
.button {
  background-color: #58B4A6;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	border-radius: 12px;
}
